Grove_Openponics_Buttons_Gauges.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"a51cee2e.de88a","type":"tab","label":"Flow 1","disabled":false,"info":""\},\{"id":"21bca72b.0c7678","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_48V","param":"","once":false,"repeat":"0","consolelog":false,"x":415,"y":102,"wires":[["4ba88d02.0d06a4"]]\},\{"id":"477efaf6.3c99dc","type":"inject","z":"a51cee2e.de88a","name":"48V ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":82,"wires":[["21bca72b.0c7678"]]\},\{"id":"4ba88d02.0d06a4","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":703,"y":103,"wires":[]\},\{"id":"725b4094.4ae228","type":"inject","z":"a51cee2e.de88a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":1013,"wires":[["339fbe24.56b852","5035e982.f50488","6d97d3a5.b2e51c","c1bb59d1.70fa3","3215c6fe.65dd42","1a17529c.f49005","488fe1d9.20399"]]\},\{"id":"a6622932.c05028","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":1,"width":"3","height":"1","passthru":false,"label":"48V ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":134.5,"y":49,"wires":[["21bca72b.0c7678"]]\},\{"id":"1a9c8010.b20908","type":"inject","z":"a51cee2e.de88a","name":"48V OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":115,"wires":[["21bca72b.0c7678"]]\},\{"id":"87d5ff8f.921c68","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":2,"width":"3","height":"1","passthru":false,"label":"48V OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":133.5,"y":148,"wires":[["21bca72b.0c7678"]]\},\{"id":"5d59095e.5dfd58","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_PUMP","param":"","once":false,"repeat":"0","consolelog":false,"x":438.5,"y":267,"wires":[["52a4965a.3ba528"]]\},\{"id":"7d8fd1d4.969c48","type":"inject","z":"a51cee2e.de88a","name":"PUMP ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.5,"y":253,"wires":[["5d59095e.5dfd58"]]\},\{"id":"52a4965a.3ba528","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":715.5,"y":271,"wires":[]\},\{"id":"cbaf9f3a.81e478","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":3,"width":"3","height":"1","passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":141,"y":220,"wires":[["5d59095e.5dfd58"]]\},\{"id":"ad584229.6f471","type":"inject","z":"a51cee2e.de88a","name":"PUMP OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140.5,"y":287,"wires":[["5d59095e.5dfd58"]]\},\{"id":"be716266.efdd98","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":4,"width":"3","height":"1","passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":142,"y":319,"wires":[["5d59095e.5dfd58"]]\},\{"id":"4cece183.3ec978","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC1","param":"","once":false,"repeat":"0","consolelog":false,"x":442,"y":420,"wires":[["abd45dfa.7497b"]]\},\{"id":"3abb9a36.1f6d06","type":"inject","z":"a51cee2e.de88a","name":"ACC1 ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":406,"wires":[["4cece183.3ec978"]]\},\{"id":"abd45dfa.7497b","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":719,"y":424,"wires":[]\},\{"id":"cc84ba0b.858008","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":6,"width":"3","height":"1","passthru":false,"label":"ACC1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":134.5,"y":373,"wires":[["4cece183.3ec978"]]\},\{"id":"1fbebcb1.406feb","type":"inject","z":"a51cee2e.de88a","name":"ACC1 OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134,"y":440,"wires":[["4cece183.3ec978"]]\},\{"id":"4a897123.819c","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":7,"width":"3","height":"1","passthru":false,"label":"ACC1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":129.5,"y":472,"wires":[["4cece183.3ec978"]]\},\{"id":"4aecd0ee.1eeee8","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC2","param":"","once":false,"repeat":"0","consolelog":false,"x":445.5,"y":575,"wires":[["32b62bbe.785fec"]]\},\{"id":"6111bda.5b91ac4","type":"inject","z":"a51cee2e.de88a","name":"ACC2 ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143.5,"y":561,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"32b62bbe.785fec","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":722.5,"y":579,"wires":[]\},\{"id":"dfa887b3.d175a8","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":8,"width":"3","height":"1","passthru":false,"label":"ACC2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":138,"y":528,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"efbc757.2156988","type":"inject","z":"a51cee2e.de88a","name":"ACC2 OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.5,"y":595,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"532e1027.2f2aa","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":9,"width":"3","height":"1","passthru":false,"label":"ACC2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":133,"y":627,"wires":[["4aecd0ee.1eeee8"]]\},\{"id":"af640ef9.a126b","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"Relay_ACC3","param":"","once":false,"repeat":"0","consolelog":false,"x":450.5,"y":722,"wires":[["3d7c8385.6d8734"]]\},\{"id":"688158a9.d87178","type":"inject","z":"a51cee2e.de88a","name":"ACC3 ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148.5,"y":708,"wires":[["af640ef9.a126b"]]\},\{"id":"3d7c8385.6d8734","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":727.5,"y":726,"wires":[]\},\{"id":"e73e3b0f.551dd8","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":10,"width":"3","height":"1","passthru":false,"label":"ACC3 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":143,"y":675,"wires":[["af640ef9.a126b"]]\},\{"id":"f56232ac.10476","type":"inject","z":"a51cee2e.de88a","name":"ACC3 OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142.5,"y":742,"wires":[["af640ef9.a126b"]]\},\{"id":"7871a957.71e0c8","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"ddcb4f96.e3892","order":11,"width":"3","height":"1","passthru":false,"label":"ACC3 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":138,"y":774,"wires":[["af640ef9.a126b"]]\},\{"id":"339fbe24.56b852","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R5V_A","once":false,"repeat":0,"consolelog":false,"x":447,"y":1012,"wires":[["c6a8c36d.868068","8185b639.3c04f8"]]\},\{"id":"c6a8c36d.868068","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":694,"y":1043,"wires":[]\},\{"id":"8185b639.3c04f8","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":3,"width":0,"height":0,"gtype":"gage","title":"5V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":704.5,"y":1012,"wires":[]\},\{"id":"5035e982.f50488","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"LED1_A","once":false,"repeat":0,"consolelog":false,"x":442,"y":1090,"wires":[["215fdd79.d574b2","8d2b018b.421e5"]]\},\{"id":"215fdd79.d574b2","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":698,"y":1123,"wires":[]\},\{"id":"8d2b018b.421e5","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"1bc76367.fc6895","order":5,"width":0,"height":0,"gtype":"gage","title":"LED1 Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":716.5,"y":1090,"wires":[]\},\{"id":"8ae5bf70.9e0168","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"light_1","param":"","once":false,"repeat":"0","consolelog":false,"x":1163,"y":112,"wires":[["46d8c188.613b1"]]\},\{"id":"176b6a17.891766","type":"inject","z":"a51cee2e.de88a","name":"LIGHT1 ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":903,"y":93,"wires":[["8ae5bf70.9e0168"]]\},\{"id":"46d8c188.613b1","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1461,"y":113,"wires":[]\},\{"id":"fb0841ff.284a5","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"73e6650c.e9befc","order":1,"width":"3","height":"1","passthru":false,"label":"LIGHT1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":902.5,"y":59,"wires":[["8ae5bf70.9e0168"]]\},\{"id":"f2fab27f.ea8f88","type":"inject","z":"a51cee2e.de88a","name":"LIGHT1 OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":904,"y":125,"wires":[["8ae5bf70.9e0168"]]\},\{"id":"fab0ae16.1a0ed","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"73e6650c.e9befc","order":2,"width":"3","height":"1","passthru":false,"label":"LIGHT1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":901.5,"y":158,"wires":[["8ae5bf70.9e0168"]]\},\{"id":"2fb2dc71.56a784","type":"ParticleFunc out","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","fname":"light_2","param":"","once":false,"repeat":"0","consolelog":false,"x":1165,"y":269,"wires":[["4a7ff3af.bcdd04"]]\},\{"id":"815a1b37.e346f8","type":"inject","z":"a51cee2e.de88a","name":"LIGHT2 ON","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":905,"y":250,"wires":[["2fb2dc71.56a784"]]\},\{"id":"4a7ff3af.bcdd04","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":1463,"y":270,"wires":[]\},\{"id":"a366d0fb.153c3","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"73e6650c.e9befc","order":1,"width":"3","height":"1","passthru":false,"label":"LIGHT2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"param","x":904.5,"y":216,"wires":[["2fb2dc71.56a784"]]\},\{"id":"30c2bfe5.bcaf8","type":"inject","z":"a51cee2e.de88a","name":"LIGHT2 OFF","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":906,"y":282,"wires":[["2fb2dc71.56a784"]]\},\{"id":"fddf349.a1a9948","type":"ui_button","z":"a51cee2e.de88a","name":"","group":"73e6650c.e9befc","order":2,"width":"3","height":"1","passthru":false,"label":"LIGHT2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"param","x":903.5,"y":315,"wires":[["2fb2dc71.56a784"]]\},\{"id":"6d97d3a5.b2e51c","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"system_watts","once":false,"repeat":0,"consolelog":false,"x":423,"y":1244,"wires":[["e722ccbc.1675e","c66a81aa.fa789"]]\},\{"id":"e722ccbc.1675e","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":697,"y":1279,"wires":[]\},\{"id":"c66a81aa.fa789","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":0,"height":0,"gtype":"gage","title":"Total Watts","label":"Watts","format":"\{\{value | number:2\}\}","min":0,"max":"500","colors":["#00b501","#e6d600","#ca000d"],"seg1":"","seg2":"","x":715.5,"y":1244,"wires":[]\},\{"id":"c1bb59d1.70fa3","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"system_amps","once":false,"repeat":0,"consolelog":false,"x":419,"y":1325,"wires":[["b70bfdeb.cb0d68","a08ca452.22f58"]]\},\{"id":"a08ca452.22f58","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":700,"y":1364,"wires":[]\},\{"id":"b70bfdeb.cb0d68","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"325976b0.bd865a","order":5,"width":0,"height":0,"gtype":"gage","title":"Total Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#0bb500","#e6e100","#ca000f"],"seg1":"","seg2":"","x":719.5,"y":1327,"wires":[]\},\{"id":"1a17529c.f49005","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R12V_A","once":false,"repeat":0,"consolelog":false,"x":448,"y":947,"wires":[["c60d7ff5.710ac","fb9cfe10.ae1b48"]]\},\{"id":"c60d7ff5.710ac","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":695,"y":978,"wires":[]\},\{"id":"fb9cfe10.ae1b48","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":2,"width":0,"height":0,"gtype":"gage","title":"12V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":715.5,"y":947,"wires":[]\},\{"id":"3215c6fe.65dd42","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"LED2_A","once":false,"repeat":0,"consolelog":false,"x":443,"y":1174,"wires":[["3d37e3e8.1d7764","8ca6e7df.85c38"]]\},\{"id":"3d37e3e8.1d7764","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":699,"y":1207,"wires":[]\},\{"id":"8ca6e7df.85c38","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"1bc76367.fc6895","order":5,"width":0,"height":0,"gtype":"gage","title":"LED2 Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":717.5,"y":1174,"wires":[]\},\{"id":"488fe1d9.20399","type":"ParticleVar","z":"a51cee2e.de88a","pcloud":"aef0b055.df04d8","devid":"1a0028000147343337373738","getvar":"R48V_A","once":false,"repeat":0,"consolelog":false,"x":449,"y":883,"wires":[["a17aa75a.d6f298","27b8cbd9.e78ae4"]]\},\{"id":"a17aa75a.d6f298","type":"debug","z":"a51cee2e.de88a","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":696,"y":914,"wires":[]\},\{"id":"27b8cbd9.e78ae4","type":"ui_gauge","z":"a51cee2e.de88a","name":"","group":"6bb64915.67629","order":1,"width":0,"height":0,"gtype":"gage","title":"48V Amps","label":"Amps","format":"\{\{value | number:2\}\}","min":0,"max":"10","colors":["#4243b5","#1be611","#00caca"],"seg1":"","seg2":"","x":716.5,"y":883,"wires":[]\},\{"id":"aef0b055.df04d8","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"17eca6cd5930b921751370f8de980dfe3f59c2ac","name":"Particle.io"\},\{"id":"ddcb4f96.e3892","type":"ui_group","z":"","name":"Relays","tab":"73b776d0.c1e4f","order":4,"disp":true,"width":"6","collapse":false\},\{"id":"6bb64915.67629","type":"ui_group","z":"","name":"Power Consumption VRegs","tab":"73b776d0.c1e4f","order":1,"disp":true,"width":"5","collapse":true\},\{"id":"1bc76367.fc6895","type":"ui_group","z":"","name":"Power Consumption LEDs","tab":"73b776d0.c1e4f","order":2,"disp":true,"width":"5","collapse":false\},\{"id":"73e6650c.e9befc","type":"ui_group","z":"","name":"Lights","tab":"73b776d0.c1e4f","order":5,"disp":true,"width":"6","collapse":false\},\{"id":"325976b0.bd865a","type":"ui_group","z":"","name":"Total System Power","tab":"73b776d0.c1e4f","order":3,"disp":true,"width":"7","collapse":true\},\{"id":"73b776d0.c1e4f","type":"ui_tab","z":"","name":"Openponics","icon":"local_pizza"\}]}